<h1>Add a new place</h1>
<form action="/places" method="post">
  <label for="new-place">Enter the name of new place</label>
  <input type="text" name="new-place" id="new-place">
  <button type="submit">Add</button>
</form>
